<!DOCTYPE html>
<html>
  <head>
    <title>Django Social Auth</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />


    {% block script %}{% endblock %}
  </head>
  <body>

    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div id="content">
      {% block content %}{% endblock %}
    </div>

  </body>
</html>
