{#{% extends "base.html" %}#}
{% load url from future %}

{% block script %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

{% endblock %}

{% block content %}

{% for name in social_auth.backends.oauth2 %}
    <a rel="nofollow" href="{% url "socialauth_begin" name %}">{{ name|title }}</a>
  {% endfor %}

{% endblock %}
